---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";
import Icon from 'astro-icon';
import { ReactTyped } from "react-typed";
import TextTyped from 'src/components/TextTyped';

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

const tech: Array<{ title: string; link:string[]; stack: string[]; }> = [
	{
		title: "Front-End",
		link: ['https://react.dev/', 'https://www.typescriptlang.org/', 'https://www.w3schools.com/js/', 'https://nextjs.org/', 'https://astro.build/'],
		stack: ['Reactjs', 'Typescript', "js", 'Next', 'astro']
	},
	{
		title: "Back-End",
		link: ['https://spring.io/projects/spring-boot','https://nodejs.org', 'https://go.dev'],
		stack: ['java', 'node', 'go']
	},
	{
		title: "Mobile Development",
		link: ['https://flutter.dev', 'https://developer.apple.com/xcode/swiftui/', 'https://reactnative.dev/'],
		stack: ['flutter', 'swift', 'reactjs']
	},
	{
		title: "Cloud Development",
		link: ['https://aws.amazon.com/free', 'https://firebase.google.com/'],
		stack: ['aws', 'firebase']
	},
	{
		title: 'Infrastructure',
		link: ['https://www.docker.com/', 'https://www.jenkins.io/'],
		stack:	['docker', 'jenkins']
	},
	{
		title: "Tooling",
		link: ['https://jestjs.io/', 'https://storybook.js.org/'],
		stack: ['jest', 'storybook']
	}
	// {
	// 	title: "Astro Icon",
	// 	desc: "An easy to use Icon component for Astro.",
	// 	href: "https://github.com/natemoo-re/astro-icon#readme",
	// },
];

const titleList: string[] = [
	// `System.out.print("Hel`,
  "안녕하세요, 제 이름은 Kie입니다.",  // Korean
  "你好，我的名字是Kie。",              // Chinese (Simplified)
  "Hallo, mein Name ist Kie.",        // German
  "Bonjour, je m'appelle Kie.",       // French
  "こんにちは、私の名前はKieです。",  // Japanese
  "Hello, my name's Kie.",           // English  
]
---

<BaseLayout title="Home">
	<section>
		<div class="flex flex-row-reverse pt-4 justify-between items-center">
			<div class="w-40 h-40">
				<video loop muted autoplay playsinline>
					<source src={'/EmojiMovie745355611.mov'} type="video/mp4"></source>
				</video>
			</div>
			<h1 class="title text-2xl ">
				<TextTyped textLists={titleList} client:load/>
			</h1>
		</div>
		<p class="mb-4 sm:mb-8">
			Hi! I'm Software Engineer at 
			<a href="https://www.deftdev.tech/" class="cody-link" data-astro-prefetch target="_blank" rel="noopener noreferrer">Deftdev Tech</a> 
			from Thailand. Now I'm interested in AI. I'll come write a blog update often krub. 
		</p>
		<div class="flex flex-row items-center gap-4">
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>

	<section class="mt-16">
			<h2 class="title">Technologies</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					tech.map(({ title, stack, link }) => (
						<li class="flex flex-row item-center py-2">
							<h6
								class="cody-link inline-block mr-2"
							>
								{title}
							</h6> : 
							<ul class="inline-flex gap-2 md:gap-4 pl-2">
								{stack.map((s: string, index: number) => ( 
									<li>
										<a href={link[index]} target="_blank" rel="noopener noreferrer">
											<Icon 
												class="h-8 w-8 text-textColor" 
												name={`vscode-icons:file-type-${s.toLowerCase()}`} 
												focusable="false"
												title={s}
											/>
										</a>
									</li>
								))}
							</ul>
						</li>
					))
				}
			</ul>
		</section>
</BaseLayout>
